<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.LEGENO.SaveTheTime">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.LEGENO.SaveTheTime.ChangeGroupManager"></activity>
        <activity
            android:name="com.LEGENO.SaveTheTime.SchedulePopUp"
            android:parentActivityName="com.LEGENO.SaveTheTime.Calendar_main"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name="com.LEGENO.SaveTheTime.DateSelection"
            android:theme="@style/AppTheme.MyDialog" />
        <activity android:name="com.LEGENO.SaveTheTime.CreateSchedule" />
        <activity android:name="com.LEGENO.SaveTheTime.JoinGroup" />
        <activity android:name="com.LEGENO.SaveTheTime.Loading" />
        <activity android:name="com.LEGENO.SaveTheTime.Calendar_main" />
        <activity android:name="com.LEGENO.SaveTheTime.ManageGroup" />
        <activity android:name="com.LEGENO.SaveTheTime.Setting" />
        <activity android:name="com.LEGENO.SaveTheTime.ConfirmWithdrawal" />
        <activity android:name="com.LEGENO.SaveTheTime.ConfirmDeleteAllSchedule" />
        <activity
            android:name="com.LEGENO.SaveTheTime.CreateGroup"
            android:theme="@style/AppTheme.MyDialog" />
        <activity
            android:name="com.LEGENO.SaveTheTime.Withdrawal"
            android:theme="@style/AppTheme.MyDialog" />
        <activity
            android:name="com.LEGENO.SaveTheTime.ChangeGroupName"
            android:theme="@style/AppTheme.MyDialog" />
        <activity android:name="com.LEGENO.SaveTheTime.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.LEGENO.SaveTheTime.RegisterActicity"
            android:label="@string/app_name"
            android:parentActivityName="com.LEGENO.SaveTheTime.LoginActivity" />
    </application>

</manifest>